version: '3.6'
services:
    zookeeper:
        container_name: zookeeper
        image: confluentinc/cp-zookeeper:6.1.2
        volumes:
            - "./zookeeper/data:/data"
            - "./zookeeper/logs:/datalog"
        ports:
            - "2181:2181"
        environment: 
            ZOOKEEPER_CLIENT_PORT: 2181 
            ZOOKEEPER_TIME_TICK: 2000 
    kafka:
        container_name: kafka1
        image: confluentinc/cp-kafka:6.1.2
        restart: on-failure
        ports:
            - "9092:9092"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        environment:
            KAFKA_BROKER_ID: 1
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
            KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
            KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://127.0.0.1:9092
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2
        depends_on:
            - zookeeper